<!--FOOTER-->
<footer class="footer-container">

  <div class="footer-title">
    <p>© 2024 - Todos os direitos reservados</p>
  </div>

  <!-- Itens do rodapé -->
  <div class="footer-items">
    <!-- Coluna 1: Sobre nós -->
    <div class="footer-column">
      <h3>Sobre nós</h3>
      <ul>
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Nossa missão</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>

    <!-- Coluna 2: Serviços -->
    <div class="footer-column">
      <h3>Serviços</h3>
      <ul>
        <li><a href="#">Consultoria</a></li>
        <li><a href="#">Suporte</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>

    <!-- Coluna 3: Redes sociais -->
    <div class="footer-column">
      <h3>Redes sociais</h3>
      <ul>
        <li><a href="https://www.facebook.com">Facebook</a></li>
        <li><a href="https://Instagram.comd">Instagram</a></li>
      </ul>
    </div>
  </div>
</footer>
<!--FOOTER/-->

