<div class="destatodos">
  <span class="destaques">
    <h3 class="destaque">Nossos Destaques</h3>
  </span>
  <span class="destaques">
    <a class="vertodos">Ver todos ></a>
  </span>
</div>

<ul class="promo">
  <li class="imagempromo">
    <img src="src/images/Imagem PS5.webp" class="itens" />
    <span class="prod">Console PlayStation 5 Pro Sony, SSD 2TB, Com Controle Sem Fio DualSense, Branco</span>
    <span class="preco">R$6.509,07</span>
    <button class="btncomprar" id="botaocomprar">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/Imagem processador 2.webp" class="itens" />
    <span class="prod">Processador Intel Core i5-10400F, 2.9GHz, Cache 12MB, 6 Núcleos, 12 Threads, LGA 1200 </span>
    <span class="preco">R$614,99</span>
    <button class="btncomprar" id="botaocomprar1">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/IMAGEM PLACA DE VIDO.webp" class="itens" />
    <span class="prod">Placa de Vídeo RTX 3060 1-Click OC Galax NVIDIA GeForce, 12GB GDDR6, LHR, DLSS, Ray Tracing
    </span>
    <span class="preco">R$1639,99</span>
    <button class="btncomprar" id="botaocomprar2">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/Imagem Cadeira.webp" class="itens" />
    <span class="prod">Cadeira De Escritório Prizi Lung - Preta</span>
    <span class="preco" id="cadeira1">R$149,99</span>
    <button class="btncomprar" id="botaocomprar3">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/Imagem FIFA.webp" class="itens" />
    <span class="prod">EA Sports FC 25 - Playstation 4</span>
    <span class="preco" id="fc25">R$312,99</span>
    <button class="btncomprar" id="botaocomprar4">Comprar</button>
  </li>
</ul>
<div class="bcentral">
  <img src="src/images/bannercentral.png" alt="Banner da Loja" class="container-fluid">
</div>
<!--Carrocel de Produtos 01/-->


