<header>
  <nav class="navbar">
    <div class="menu" style="z-index: 1000;">
      <button class="menu-button" style="z-index: 1000;"><img id="botaoburger"  style="z-index: 1000;" src="src/images/menuhamburger.png"></button>
      <div class="dropdown-content " style="z-index: 1000;">
        <a style="z-index: 1000;" href="Pag Login.html">Login</a>
        <a  style="z-index: 1000;" href="aba_cadas.html">Cadastro</a>
        <div class="search-container"  style="z-index: 1000;">
          <div class="search-bar"  style="z-index: 1000;">
            <input  style="z-index: 1000;" type="text" placeholder="Buscar...">
            <button   style="z-index: 1000;" id="btnsearch">🔍</button>
          </div>
        </div>
      </div>

    </div>
    <div class="logo">
      <img id="logo1" src="src/images/Logonova.png" alt="Logo" />
      <a href="index.html"></a>
    </div>
    <nav class="search-container pesquisar1">
      <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button id="btnsearch">🔍</button>
      </div>


      <div class="cart-icon">
        <hr href="carrinho.html">
          <i class="fas fa-shopping-cart"></i>
      </div>



      <div class="nav-links" id="menu">
        <ul>
          <li><a href="aba_cadas.html">Cadastrar</a></li>
          <li><a href="Pag Login.html">
              <i class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg></i> Login
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </nav>
</header>

