<!--GALERIA DA LOJA-->
<div class="destatodos">
  <span class="destaques">
    <h3 class="destaque">Venha conhecer nossa loja</h3>


<div class="exteriorcar">
  <div id="carouselExample" class="carousel slide carrosel col-6">
    <div class="carousel-inner interior">
      <div class="carousel-item active">
        <img src="src/images/Gal01.jpeg" class="d-block w-100" alt="Loja 1">
      </div>
      <div class="carousel-item">
        <img src="src/images/Gal02.jpeg" class="d-block w-100" alt="Loja 2">
      </div>
      <div class="carousel-item">
        <img src="src/images/Gal03.jpeg" class="d-block w-100" alt="Loja 3">
      </div>
      <div class="carousel-item">
        <img src="src/images/Gal04.jpeg" class="d-block w-100" alt="Loja 4">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="textocar">
    <div>
      <h3>
        Olá, bem vindo a familia Game Mania.

        Temos em nosso site e loja os melhores produtos gamers de todas as marcas para sempre te atender da forma
        mais gamer possivel, venha conhecer a nossa loja e segue as gentes nas redes sociais, nossas informações
        estão mais a baixo, arrasta pra cima!!!
        (ou rola pra baixo se estiver no pc "lá ele!") </h3>
    </div>
  </div>
</div>

<!--GALERIA DA LOJA/-->


