<!--Carrocel de Produtos 02-->
<div class="destatodos">
  <span class="destaques">
    <h3 class="destaque">Nossas novidades</h3>
  </span>
  <span class="destaques">
    <a class="vertodos">Ver todos ></a>
  </span>
</div>

<ul class="promo">
  <li class="imagempromo">
    <img src="src/images/Imagem Placa de Vido 2.webp" class="itens" />
    <span class="prod">Placa de Vídeo RTX 4090 Asus NVIDIA, 24GB GDDR6X, DLSS, Ray Tracing</span>
    <span class="preco">R$12.199,99</span>
    <button class="btncomprar" id="botaocomprar5">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/Imagem BAybay.webp" class="itens" />
    <span class="prod">Bayonetta 3 - Nintendo Switch</span>
    <span class="preco" id="bayo">R$289,99</span>
    <button class="btncomprar" id="botaocomprar6">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/Imagem Fone.webp" class="itens" />
    <span class="prod">Fone sem fio bluetooth - Xiaomi</span>
    <span class="preco" id="fone">R$149,99</span>
    <button class="btncomprar" id="botaocomprar7">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/Imagem da Placa M.webp" class="itens" />
    <span class="prod">Placa Mãe ASRock B450M Steel Legend, AMD AM4, mATX, DDR4</span>
    <span class="preco" id="placamae">R$769,99</span>
    <button class="btncomprar" id="botaocomprar8">Comprar</button>
  </li>
  <li class="imagempromo">
    <img src="src/images/Imagem Note.webp" class="itens" />
    <span class="prod">Notebook Gamer Gigabyte Aorus 15, Intel Core i7-12700H,16GB DDR4</span>
    <span class="preco">R$10.299,99</span>
    <button class="btncomprar" id="botaocomprar9">Comprar</button>
  </li>

</ul>


