<!--Banner-->
<section class="slider" style="z-index: 1;">
  <div class="slider-content" style="z-index: 1;">
    <input type="radio" name="btn-radio" id="radio1">
    <input type="radio" name="btn-radio" id="radio2">
    <input type="radio" name="btn-radio" id="radio3">

    <div class="slide-box primeiro" style="z-index: 1;">
      <a href="#"><img class="img-desktop" style="z-index: 1;" src="src/images/imagembanner1.webp" alt="banner"></a>
      <a href="#"><img class="img-mobile" style="z-index: 1;" src="src/images/imagembanner1.webp" alt="banner"></a>
    </div>

    <div class="slide-box" style="z-index: 1;">
      <a href="#"><img class="img-desktop" style="z-index: 1;" src="src/images/imagembanner2.webp" alt="banner"></a>
      <a href="#"><img class="img-mobile" style="z-index: 1;" src="src/images/imagembanner2.webp" alt="banner"></a>
    </div>

    <div class="slide-box" style="z-index: 1;">
      <a href="#"><img class="img-desktop" style="z-index: 1;" src="src/images/imagembanner3.webp" alt="banner"></a>
      <a href="#"><img class="img-mobile" style="z-index: 1;" src="src/images/imagembanner3.webp" alt="banner"></a>
    </div>

    <div class="nav-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
    </div>

    <div class="nav-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
    </div>


  </div>
</section>
<!--Banner/-->


